layout{
    focus-ring{
        active-gradient from="#55d6f4cc" to="#aec6ffcc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#353943"
        urgent-color "#ffb4ab"
    }
}
